body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: white;
}

.btn{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 9px solid black;
    margin: 1rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: #f99b45;
}

.red{
    background-color: #d95980;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.quit{
    width: 120px;
    height: 50px;
    background-color: black;
    font-size: medium;
    color: white;
}

.bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

img {
    width: 60vw; 
    max-width: 800px;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.3);
}


.start-btn {
    background-color: #9b4df2;
    border: 3px solid #ff3be6;
    color: yellow;
    font-size: 1.5rem;
    padding: 10px 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px #ff3be6;
    cursor: pointer;
}

.start-btn a {
    text-decoration: none;
    color: yellow;
}
